
.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0F125E;
    height: 100%;
    width: 25%;
    padding-bottom: 1rem;
  }

  .sideBox{
    width: 75%;
    height: 100%;
    height: 100%;
    background-color: #344FA1;
    overflow: scroll;
  }
  
  .sideBox::-webkit-scrollbar{
    display: none;
  }

  .popup{
      display: flex;
      justify-content: flex-end;
  }

  .angle{
      margin: 2rem;
      border: 0.4rem solid #344fa1; 
      height: 7.5rem;
      width: 7.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
  }

  #profile{
      margin-left: 6rem;
      height: 15rem;
      width: 15rem;
  }
  

   #name{
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    margin: 2.5rem auto 4rem 7rem;
    color: #ffffff;
    font-size: 1.5rem;
  } 
  
  .task{
      display: flex;
      margin-bottom: 2rem;
  }
  .task img{
      margin-left: 10rem;
      height: 2.4rem;
      width: 2rem;
  }
  #taskpara{
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }

  .category{
      display: flex;
      margin-bottom: 2rem;
  } 
  .category img{
    margin-left: 10rem;
    height: 2.4rem;
    width: 2rem;
  }
  #catepara{
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }

  .schedule{
    display: flex;
    margin-bottom: 1rem;
  } 
  .schedule img{
    margin-left: 10rem;
    height: 2.4rem;
    width: 2rem;
  }
  #schepara{
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 3rem;
    font-family: 'Inter', sans-serif;
  }


  #last{
    display: flex;
    flex-direction: column;
  }
  
  #curve{  
    width: 30rem;
    margin-left: 3rem; 
  }
  
  #para{
    font-size: 1.5rem;
    color: #344EAC;
    margin-left: 5rem;
    font-family: 'Inter', sans-serif;
  }
  
  #subhead{
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: 5rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
  }
  
  .top{
    display: flex;
    flex-direction: row;
  }

  .headpara{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 2rem;
  }

  .sideheading{
    font-size: 2.5rem;
    color: #ffffff;
    margin: 2rem auto 5rem 3rem;
    font-family: 'Inter', sans-serif;
  }

  .sidepara{
    margin-left: 3rem;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    color: #94ABFF;
  }

  .clock{
    width: 40%;
  }

  .middle{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .middle::-webkit-scrollbar{
    display: none;
  }

  .task1{
    width: 20%; 
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem 6rem; 
    padding: 1.5rem;
    background-color: #0F125E;
    border-radius: 25px;
  }
  .task1 p{
    font-size: 1rem;
    color: #A6B8FB;
    font-family: 'Inter', sans-serif;
  }
  .task1sub h4{
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
  }
  .task1sub{
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .task2{
    width: 20%; 
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem 1rem;
    padding: 1.5rem;
    background-color: #0F125E;
    border-radius: 25px;
  }
  .task2 p{
    font-size: 1rem;
    color: #A6B8FB;
    font-family: 'Inter', sans-serif;
  }
  .task2sub h4{
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
  }
  .task2sub{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  

  .task3{
    width: 20%; 
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem 1rem;
    padding: 1.5rem;
    background-color: #0F125E;
    border-radius: 25px;
  }
  .task3 p{
    font-size: 1rem;
    color: #A6B8FB;
    font-family: 'Inter', sans-serif;
  }
  .task3sub h4{
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    margin-right: 4rem;
  }
  .task3sub{
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .task4{
    width: 20%; 
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem 1rem;
    padding: 1.5rem;
    background-color: #0F125E;
    border-radius: 25px;
  }
  .task4 p{
    font-size: 1rem;
    color: #A6B8FB;
    font-family: 'Inter', sans-serif;
  }
  .task4sub h4{
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    margin-right: 4rem;
  }
  .task4sub{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .line{
    border-top: 2px solid #344EAC;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .bottom{
    position: relative;
  }

  .bottompara{
    color: #94ABFF;
    margin: 2.5rem auto 2rem 5rem;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
  }

  
  .row1{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .bottomboxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    padding-left: 6rem; 
  }

  .box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 42rem;
    height: 8rem;
    background-color: #0F125E;
    border-radius: 25px; 
    margin: 2rem 0;
  }

  .checkbox1,.checked {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
  }

  .checked{
    background: url('../images/icons/checkmark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .box1:nth-child(2n) .checkbox1 {
    border: 3px solid #C11BCF;
  }

  .box1:nth-child(2n-1) .checkbox1{
    border: 3px solid #1e8cf1;
  }

  .boxpara{
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;

  }

  .strike{
    text-decoration: line-through;
  }

  .button{
    border-radius: 50%;
    background-color: #FE23E8;
    border: none;
    height: 8rem;
    width: 8rem;
    right: 6rem;
    bottom: 3rem;
    position: fixed;
  }

  @media (max-height: 1300px){
    #profile{
      height: 25rem;
      width: 25rem;
    }  
  }

  @media (max-height: 900px){
    #profile{
      height: 15rem;
      width: 15rem;
    }
  }
  